{% extends 'header.html' %}
{% block content %}
    <div class='container' style="width: 100%">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#">期权交易</a></li>
                    <li><a href="#">货币对</a></li>
                    <li class="active"><a href="#">商品</a></li>
                    <li><a href="#">指数</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">商品</h2>
            </div>
        </div>
    </div>
{% endblock %}
