{% extends 'header.html' %}
{% block content %}
<div class='container' style="width: 100%">
    <div>
        <div>
            <div class="btn-group" style="width: 5%"><span class="caret"></span>报价面板</div>
            <div class="btn-group" style="width:92%;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <p></p>
        <div>
            <table class="table table-condensed">
                <tr>
                    <th>合约</th>
                    <th>最后价格</th>
                    <th>买入量</th>
                    <th>买价</th>
                    <th>卖价</th>
                    <th>卖出量</th>
                    <th>头寸</th>
                </tr>
                <tr>
                    <td>EUR Dec'14 @GLOBEX</td>
                    <td>1.2465</td>
                    <td>15</td>
                    <td>1.2464</td>
                    <td>1.2464</td>
                    <td>16</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div>
            <div class="btn-group" style="width: 5%"><span class="caret"></span>按钮</div>
            <div class="btn-group" style="width:92%;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <p></p>
        <div>
            <button type="button" class="btn btn-primary btn-xs">添加底层证券</button>
            <button type="button" class="btn btn-primary btn-xs" disabled="disabled">预览定单/检查保证金影响</button>
            <button type="button" class="btn btn-primary btn-xs" disabled="disabled">平仓</button>
            <button type="button" class="btn btn-primary btn-xs" disabled="disabled">逆转头寸</button>
            <button type="button" class="btn btn-primary btn-xs">查看账户</button>
        </div>
        <p></p>
{#        <div class="dropup"></div> 改变箭头方向#}
        <div>
            <div class="btn-group" style="width: 5%"><span class="caret"></span>交易中</div>
            <div class="btn-group" style="width:92%;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <p></p>
        <div>
            <div class="btn-group" style="width: 7%"><span class="caret"></span>期权链-EUR</div>
            <div class="btn-group" style="width:90%;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <p></p>
        <div>
            <!-- Single button -->
            行使价<div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                多个 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">多个</a></li>
                <li><a href="#">单个</a></li>
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">Separated link</a></li>#}
              </ul>
            </div>&nbsp;&nbsp;
            <!-- Single button -->
            到期日<div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                NOV 07'14 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">NOV 07'14</a></li>
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">Separated link</a></li>#}
              </ul>
            </div>&nbsp;&nbsp;
            <!-- Single button -->
            交易所<div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                GLOBEX <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">GLOBEX</a></li>
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">Separated link</a></li>#}
              </ul>
            </div>&nbsp;&nbsp;
            <!-- Single button -->
            交易等级<div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                多个 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">单个</a></li>
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#">Separated link</a></li>#}
              </ul>
            </div>
                <button type="button" class="btn btn-primary btn-xs" style="float: right;margin-right: 5px;">加载我的期权链</button>
                <button type="button" class="btn btn-primary btn-xs" style="float: right;margin-right: 5px;">清除期权链</button>
        </div>
        <p></p>
        <div>
            <table class="table table-bordered table-striped2 table-condensed2">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">看涨期权</th>
                        <th rowspan="2" colspan="2" class="text-center" style="vertical-align: middle">描述</th>
                        <th colspan="5" class="text-center">看跌期权</th>
                    </tr>
                    <tr>
                        <th>最后价格</th>
                        <th>涨跌</th>
                        <th>买价</th>
                        <th>卖价</th>
                        <th>隐含波动率%</th>
                        <th>最后价格</th>
                        <th>涨跌</th>
                        <th>买价</th>
                        <th>卖价</th>
                        <th>隐含波动率%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2"><span class="caret"></span>NOV 07'14(6E)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>
                    <tr>
                        <td>C0.02840</td>
                        <td></td>
                        <td>0.02170</td>
                        <td>0.02370</td>
                        <td>15.944%</td>
                        <td colspan="2">1.225</td>
                        <td>0.00100</td>
                        <td>+0.00060</td>
                        <td>0.00080</td>
                        <td>0.00160</td>
                        <td>12.602%</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
